<% include ../partials/header %>


	<div id="create" class="container">
	<div class="row">
			<div class="col-12">
				<div class="content">
				<h1>Add Guest to <%= workspace.url %></h1>
				<hr>
				</div>



<form action="/dashlist/<%= workspace._id %>/attendees" method="POST">
	<input id="nameEnter" type="text" name="name" placeholder="Enter name">
<input type="submit" value="Add!">
</form>

<div id="back">
			<a href="/dashlist/<%= workspace._id %>">Go back</a>
</div>
</div>
</div>
</div>

<% include ../partials/footer %>